---
layout: default
---

<div class="header-bar">
  <h1>Noise & the Novice</h1>
  <h2>a program of study at Powderhouse Studios</h2>
  <br/>
  <hr>
  <br/>
</div>

<ul class="post-list">
    {% for tag in site.tags %}
      {% if tag[0] == 'pos' %}
        {% for post in tag[1] %}
      <li>
      <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
      <p class="post-meta">{{ post.date | date: '%B %-d, %Y' }}</p>
      <p>{{ post.description }}</p>
      <br/>
      <hr/>
      </li>
      {% endfor %}
        {% endif %}
    {% endfor %}
</ul>